* {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* cursor: none; */
}
.marquee-container {
  border: 1px solid #cccccc;
}
.animated-link {
  display: inline-block;
  position: relative;
}
.animated-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #475467;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.animated-link:hover:after { 
  width: 100%; 
  left: 0; 
}
